@use '../assets' as a;

.about-us {
	.heading-content {
		background-color: #626e60;
		text-align: center;
		position: relative;
		color: a.$off-white;
		margin-top: -2rem;
	}
	.heading-content .content{
		text-align: start;
	}

	.banner-desktop {
		display: none;
	}

	.heading2 {
		width: 100%;
		padding: 6rem 2rem 1.5rem;
	}

	.content {
		margin-bottom: 1.5rem;
		line-height: 3.2rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.quote {
		margin-top: 8rem;
		padding: 4rem 4rem;
		background-color: a.$grey;
		font-size: 2.1rem;
		font-family: a.$poppins;
		font-weight: 300;
		line-height: 3.2rem;
	}

	.flex-con {
		padding-bottom: 8rem;
	}

	.history-desktop {
		display: none;
	}
}

@media only screen and (min-width: 480px) {
	.about-us {
		img {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 820px) {
	.about-us {
		.banner-desktop {
			display: block;
			overflow: hidden;
			img{
				margin-top: -2rem;
			}
		}
		.banner-about{
			display: flex;
			height:  36rem;
			.banner-desktop{
				width: 60%;
			}
			.heading-content{
				width: 40%;
			}
			
		}

		.banner-mobile {
			display: none;
		}

		.heading-content {
			color: #fcfbfc;
			margin: 0 auto;
			padding: 3rem 0 2rem 0;
			font-size: 9.8rem;
			width: 65rem;
			
		}

		.heading2 {
			font-size: 6.1rem;
		}

		.content {
			font-size: 1.8rem;
		}

		.content1 {
			width: 40%;
		}

		.history-mobile {
			display: none;
		}

		.history-desktop {
			display: block;
			height: 40rem;
			overflow: hidden;
			position: relative;
		   
			img{
				width: 100%;
				position: absolute;
				top: -10rem;
		 
			}
		
		}
	}

	.history {
		width: 100%;
		text-align: center;

		.history-desktop {
			margin: 0 auto;
			height: 70rem;
			overflow: hidden;

			img {
				margin-top: -7rem;
			}
		}
	}
}

@media only screen and (min-width: 1440px) {
	.about-us {
		.banner-about{
			height: 60rem;
			.banner-desktop{
				width: 80%;
			}
			.heading-content{
				width: 50%;
				display: flex;
				flex-wrap: wrap;
				align-content: center;
				padding: 8rem;
			}
			.heading-content .heading1{
				font-size: 9.8rem;
			
			}
	
		}

		.flex-con {
			padding: 8rem 0;
			max-width: 150rem;
			margin: 0 auto;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			gap: 4rem;

			.quote {
				width: 40%;
				padding: 4rem;
			}
		}
		.history-desktop {
			height: 65rem;
	
			img {
				top: -20rem;
			}
		}
	}



	.heading-content {
		margin-top: -5.5rem;
	}
}
@media only screen and (min-width: 2000px){
	.about-us {
		.banner-about{
			height: 80rem;
		
			.banner-desktop{
				width: 60%;
			}
			.heading-content{
				width: 40%;
			
				padding: 18rem;
			}
		}
	}
}
