@use '../assets' as a;

.contact {
	.errors {
		color: a.$almost-black;
		background-color: rgb(241, 111, 111);
		padding: .1rem 1.5rem;
		border-radius: .8rem;
		font-weight: normal;
		font-size: 1.4rem;
		margin-bottom: 3rem;
	}

	.intro {
		background-color: a.$green;
		color: #fcfbfc;
		padding: 4rem 1.6rem 2rem 1.6rem;
		font-weight: 100;

		.content {
			max-width: 70rem;
		}
	}
	.heading1 {
		font-size: 6.6rem;
		text-align: center;
	}
	

	.find-us {
		background-color: a.$grey;
		padding: 6rem 1.6rem;
	}
	.find-map {
		.map {
			& > div:nth-child(2) {
				height: 400px;
			}
		}
	}
}



@media only screen and (min-width: 820px) {
	.contact {
		.heading1 {
			margin-bottom: 3rem;
		}
		.heading2 {
			font-size: 9.8rem;
		}
		.content {
			font-size: 1.8rem;
			padding-left: 1rem;
			line-height: 3.5rem;
		}
		.flex-con {
			display: flex;
			background-color: a.$green;
			align-items: center;
			gap: 5rem;

			.intro {
				width: 50%;
				text-align: justify;

				.find-pad {
					max-width: 60%;
					margin: 0 auto;
				}
			}
			.form {
				width: 50%;
				padding: 14rem 5rem 10rem 5rem;
			}
		}
		
		.find-us {
			padding: 20rem 1.6rem;

			.find-pad {
				max-width: 60%;
				margin: 0 auto;
			}
		}
		.find-map {
			display: flex;
			min-height: 30rem;
			.find-us {
				width: 50%;
			}
			.map {
				width: 50%;
				& > div:nth-child(2) {
					height: 100%;
				}
			}
		}
		
	}
}

@media only screen and (min-width: 1020px) {
	.contact {
		.heading1 {
			font-size: 9.8rem;
		}
	}
}

@media only screen and (min-width: 2000px) {
	.contact {
		.intro {
			padding: 20rem 1.6rem;

			div {
				margin: 0 auto;
			}
			.heading1 {
				font-size: 12rem;
			}

			.content {
				max-width: 60%;
			}
		}
	}
}
