@use '../assets' as a;

.contact {
	.flex-con {
		background-color: a.$green;

		.contactheader-bg {
			max-width: 140rem;
			margin: 0 auto;
		}

		.intro {
			padding: 4rem 1.6rem;

			.h1 {
				padding-bottom: 2rem;
			}

			.h1,
			.content {
				text-align: center;
				color: a.$off-white;
			}
		}
	}

	.errors {
		color: a.$almost-black;
		background-color: rgb(239 80 80);
		padding: 0.1rem 1.5rem;
		border-radius: 0.4rem;
		font-weight: normal;
		font-size: 1.4rem;
		margin-bottom: 2rem;
		margin-top: -1rem;
	}

	.findheader {
		text-align: center;
		padding: 6rem 1.6rem 4rem;

		.h2 {
			padding-bottom: 2rem;
		}

		p {
			color: a.$almost-black;
			max-width: 56rem;
			margin: 0 auto;
		}
	}

	.map-bg {
		background: url('../../img/map-small.PNG');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 40rem;
	}

	@media only screen and (min-width: 768px) {
	}

	@media only screen and (min-width: 1000px) {
		.contactheader-bg {
			display: flex;
			padding-top: 8rem;
			gap: 4rem;

			.intro {
				width: 50%;
			}
		}

		.find {
			display: flex;
			align-items: center;
			gap: 4rem;

			.findheader {
				width: 50%;
			}
		}

		.findmap {
			width: 50%;

			.map-bg {
				background: url('../../img/map.PNG');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				height: 70rem;
			}
		}
	}

	@media only screen and (min-width: 2000px) {
	}
}
