@use '../assets' as a;

.contact {
	.errors {
		color: a.$almost-black;
		background-color: rgb(241, 111, 111);
		padding: 0.1rem 1.5rem;
		border-radius: 0.8rem;
		font-weight: normal;
		font-size: 1.4rem;
		margin-bottom: 3rem;
	}

	@media only screen and (min-width: 768px) {
	}

	@media only screen and (min-width: 1020px) {
	}

	@media only screen and (min-width: 2000px) {
	}
}
