@use '../assets' as a;

.home-page {
	.h1 {
		background-color: a.$green;
		padding: 6rem 1.6rem;
		text-align: center;
		color: a.$off-white;
		position: relative;
	}

	.banner-img {
		background: url('../../img/banner-home-lg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 40rem;
		max-width: 200rem;
	}

	.container.top-content {
		padding: 8rem 1.6rem;
		max-width: 100rem;

		.content {
			line-height: 3.2rem;
		}
	}

	.trip_advisor {
		margin-bottom: 2rem;
	}

	.button {
		padding: 0 1.6rem;
	}

	.ourcabin-header,
	.ammenities-header {
		background-color: a.$almost-black;
		padding: 2rem 1.6rem;
		color: a.$off-white;

		.h2 {
			max-width: 70rem;
			margin: 0 auto;
		}
	}

	.cabin-content {
		background-color: a.$green;
		color: a.$off-white;
		padding-bottom: 6rem;

		.content {
			padding: 4rem 1.6rem 6rem;
			max-width: 70rem;
			margin: 0 auto;
			line-height: 3.2rem;
		}
	}

	.cabin2 {
		background-image: url('../../img/bedroom1.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 40rem;
	}

	.ammenities {
		color: a.$off-white;
		background-color: a.$green;

		.flex-content {
			padding-bottom: 6rem;
		}

		.list {
			padding: 4rem 1.6rem;
			max-width: 80rem;
			margin: 0 auto;

			.div1,
			.div2 {
				div {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					margin-bottom: 3rem;
					align-items: center;
				}

				svg {
					fill: a.$off-white;
					height: 5rem;
					width: 5rem;
				}

				p {
					margin-left: 4rem;
				}
			}
		}

		.elk {
			background-image: url('../../img/ammenities-elk.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 40rem;
		}
	}

	.reviews {
		.h2 {
			color: a.$almost-black;
			text-align: center;
			padding: 6rem 1.6rem;
		}
	}

	.awards-bg {
		background-color: a.$almost-black;

		.awards {
			padding: 1rem 0;

			img {
				width: 18rem;
				margin: 3rem auto;
			}
		}
	}

	@media screen and (min-width: 768px) {
		.h1 {
			font-size: 8rem;
		}

		.list {
			display: flex;
			justify-content: space-around;
		}
	}

	@media screen and (min-width: 1000px) {
		.banner-img {
			height: 90rem;
		}

		.container.top-content {
			margin: 4rem auto;
		}

		.cabin-ammenities {
			margin: 0 auto;
		}

		.cabin-flex {
			display: flex;

			.cabin1 {
				width: 50%;

				.cabin-content {
					height: 100%;
				}
			}

			.cabin2 {
				width: 50%;
				height: 65rem;
			}
		}

		.ammenities {
			.title {
				margin-bottom: 0rem;
			}

			padding-bottom: 0;
		}

		.flex {
			display: flex;
			flex-direction: row-reverse;

			.flex-content {
				width: 50%;
				padding-bottom: 0rem;
			}

			.elk {
				height: 65rem;
				width: 50%;
			}

			.list {
				.div1,
				.div2 {
					margin: 0;

					div {
						margin-bottom: 2rem;

						p {
							margin-left: 3rem;
						}
					}
				}
			}
		}

		.awards-bg {
			.awards {
				max-width: 150rem;
				margin: 0 auto;
				display: flex;
				justify-content: space-around;
				padding: 4rem 0;

				img {
					width: 20rem;
					height: fit-content;
					margin: auto;
				}
			}
		}
	}

	@media screen and (min-width: 1200px) {
		.h1 {
			font-size: 12rem;
			padding: 10rem 0rem;
		}

		.cabin-ammenities {
			max-width: 150rem;
		}

		.reviews {
			padding: 10rem 0rem;
		}
	}
}
