

.container-pmnt {
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60vh;
	background-image: url('../../img/snow-forest.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 2rem;

    *,
*::before,
*::after {
	box-sizing: border-box;
}

h1,p {
	font-family: 'poppins';
	color:white;
	font-weight: 300;
	letter-spacing: 2px;
	position: relative;
	padding:2rem;
	z-index: 3;
}


	



}
.message-pmnt {
	justify-content: center;
	margin: 10rem 2rem;
	background-color: rgba(47, 47, 47, 0.8);
	border-radius: 12px;
	padding: 2rem;
	text-align: center;
}

.message-pmnt h2 {
	padding-bottom: 2rem;
}

@media screen and (min-width: 1000px) {



	.message-pmnt {
		padding: 4rem;
	}

	.message-pmnt {
		margin: 20rem 2rem;
	}
}

@media screen and (min-width: 2000px) {
	.message-pmnt {
		padding: 10rem;
	}

	.message-pmnt {
		margin: 30rem 2rem;
	}
}

.message-pmnt h1 {}

