header {
	height: 4rem;
}

div.toolbarStyle {
	display: flex;
	justify-content: space-between;
	background-color: green;
}

.mainNavStack {
	text-align: center;
	display: none;
	flex-direction: column;
	background: brown;
	position: absolute;
	bottom: 90%;
	top: 0px;
	left: 0px;
	width: 100vw;
	padding: 3rem 0;
}

.hamburger,
.hamburgerWrapper {
	position: relative;
	z-index: 3;
	min-height: 4rem;
	height: 4rem;
	max-height: 4rem;
	max-width: 4rem;
}

.mainNavStackHidden {
	display: none;
}



@media screen and (min-width: 768px) {
	div.toolbarStyle {
		display: flex;
		justify-content: start;
		gap: 1rem;
		background-color: green;
	}
	ul.mainNavStack {
		display: inline-block;
		flex-direction: row;
		text-transform: uppercase;
		bottom: 0px;
		top: 0px;
		left: 0px;
		position: static;
		background: brown;
		width: auto;
		height: auto;
		padding: 1rem;
    }
	.mainNavStack li {
		display: inline-block;
		margin-left: 1rem;
	}

    .hamburger,
	.hamburgerWrapper {
        display: none;
		height: 0px;
    }

	.iconButton {
		height: 0px;
		width: 0px;
	}
    
}