@use "../assets" as a;

.react-calendar {
  width: auto;
  border: none;

  .react-calendar__tile {
    padding-inline: 0;
    padding-block: 1rem;
    box-shadow: none;
  }

  .react-calendar__tile--active, .react-calendar__tile--rangeEnd, .react-calendar__tile--rangeStart, .react-calendar__tile--range {
    background-color: a.$green;
  }

  .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: a.$green-hover;
  }

  .react-calendar__tile--hover {
    background: rgb(142, 156, 139);
  }

  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus,
  .react-calendar__tile:enabled:hover, 
  .react-calendar__tile:enabled:focus{
    background-color: rgb(113, 128, 110);
  }

  .react-calendar__month-view__weekdays__weekday > abbr {
    font-size: 1.6rem;
    text-decoration: none;
  }

  .react-calendar__month-view__days__day--weekend {
    color: black;
  }

}

.datesSelected {
  display: none;
}

.show {
  display: block;
  background-color: a.$grey;
}

.react-calendar__navigation {
  height: auto;


  .react-calendar__navigation__label {
    line-height: 1.25;
    box-shadow: none;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .react-calendar__navigation__arrow {
    background-color: a.$green;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .react-calendar__navigation__arrow:nth-of-type(1),
  .react-calendar__navigation__arrow:nth-of-type(4) {
    margin-right: 10px;
  }

  button:disabled {
    background-color: a.$grey;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}