@use '../assets' as a;

<<<<<<< Updated upstream
// .CalendarMain{
//     font-family: sans-serif;
//     text-align: center;
// } 
// .rmdp-wrapper {
//     margin: 0 auto;
//   }

.react-calendar {
    width: auto;
}
=======
.CalendarMain{
    font-family: sans-serif;
    text-align: center;
} 
.rmdp-wrapper {
    margin: 0 auto;
  }
>>>>>>> Stashed changes
