@use '../assets' as a;

.site-footer {
	background-color: a.$green;

	.site-container {
		padding: 1.6rem;
		text-align: center;
	}

	.footer-padding {
		width: 80%;
		margin: 0 auto;
	}

	.btn {
		background-color: a.$brown;
	}

	ul li {
		margin-bottom: 1rem;
	}
}