@use '../assets' as a;
.form {
    background-color: a.$green;
    color: #fcfbfc;
    padding: 2rem 1.6rem 4rem 1.6rem;
}
.first,
.email,
.message, .phone {
	display: flex;
	flex-wrap: wrap;
	label {
		font-size: 1.8rem;
		font-weight: 300;
	}
	input,
	textarea {
		width: 100%;
		border-radius: 0.8rem;
		border: none;
		padding: 1rem 0.5rem;
		margin-bottom: 2rem;
		font-family: a.$poppins;
		font-size: 1.6rem;
	}

	input::placeholder,
	textarea::placeholder {
		color: rgb(196, 196, 196);
		font-weight: 300;
	}
}

@media only screen and (min-width: 820px) {
    .message {
        textarea {
            min-height: 25rem;
            font-size: 1.8rem;
        }
    }
    .booking-form {
        input {
            font-size: 1.8rem;
        }
    }
}