@use '../assets' as a;

.site-header {
	font-family: a.$poppins;
	font-weight: a.$light-weight;

	background-color: a.$green;
	//padding-bottom: 2rem;

	@media only screen and (min-width: 820px) {
		padding-bottom: 0;
	}
}
