@use '../assets' as a;


.pricing {
    background-color: a.$almost-black;
    color: a.$off-white;
    border-radius: 12px;
    margin: 2rem;

    .block {
        padding: 2rem 1rem;
        text-align: center;
        border-bottom: 2px solid a.$off-white;



    }


    .extra {
        text-align: left;
        margin: 2rem;
        max-width: 45rem;


        .ex-p {
            margin-bottom: 2rem;
        }

        border-bottom: 1px solid a.$almost-black;
        border-radius: 12px;
    }


    @media screen and (min-width: 430px) {
        margin: 4rem;

    }

    @media screen and (min-width: 860px) {
        max-width: 92rem;
        margin: 4rem auto;

        .block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 4rem 3rem;


        }

        .block:nth-child(even) {
            .squiggle {
                margin-left: 10rem;
            }
        }

        .season,
        .price {
            width: 16rem;
            text-align: left;
        }



    }

}