@use '../assets' as a;

.pricing {
	background-color: a.$almost-black;
	color: a.$off-white;
	border-radius: 12px;
	margin: 0 1.6rem;

	.block {
		padding: 2rem 1rem;
		text-align: center;
		border-bottom: 2px solid a.$off-white;
	}

	.extra {
		text-align: left;
		border-bottom: 1px solid a.$almost-black;
		border-radius: 12px;
		padding: 2rem 1.6rem 1rem 1.6rem;

		p {
			padding-bottom: 1rem;
			font-size: 14px;
		}
	}

	@media screen and (min-width: 860px) {
		max-width: 75rem;
		margin: 2rem auto 4rem auto;

		.block {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 4rem 3rem;

			p {
				font-size: 1.8rem;
			}
		}

		.extra {
			padding: 2rem;
		}
	}
}
