@use '../assets' as a;

.single-review {
	padding: 0rem 1.6rem 6rem;
	max-width: 50rem;

	.content {
		padding: 2rem 2.5rem;

		.stars {
			display: flex;
			height: 2rem;
			margin-bottom: 1rem;
			justify-content: space-around;
			width: 12rem;
			fill: a.$green;
		}
	}

	.reviewer {
		margin-top: 2rem;
		text-align: right;
	}
}
@media screen and (min-width: 768px) {
	.review-flex {
		display: flex;
		justify-content: center;
	}
}
