nav {
	background-color: #626e60;
	font-family: var(--poppins);
	font-weight: var(--light-weight);
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	position: relative;

	.container {
		max-width: 128rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		div {
			z-index: 99;
		}
	}

	button.hamburger {
		display: block;
		position: relative;
		z-index: 99;
		user-select: none;
		appearance: none;
		border: none;
		outline: none;
		background: none;
		cursor: pointer;
		padding-right: 2rem;
		box-shadow: none;
	}

	.hamburger span {
		display: block;
		width: 3rem;
		height: 0.4rem;
		margin-bottom: 5px;
		position: relative;
		background-color: var(--almost-black);
		border-radius: 0.6rem;
		z-index: 1;

		transform-origin: 0 0;
		transition: 0.4s;
	}

	/* DELETE SOME ON CLICK */
	button.is-active .roofline,
	button.is-active .roofline2,
	button.is-active .wall {
		display: none;
	}

		/* THESE 4 ARE FOR SETUP HAMBURGER MENU*/
	.hamburger span {
		z-index: 2;
		height: 4px;
		position: relative;
		background-color: rgb(33, 12, 3);
	}
	span.roofline {
		width: 20px;
		rotate: -40deg;
		top: 18px;
	}
	span.roofline2 {
		width: 20px;
		rotate: 40deg;
		bottom: 4px;
		left: 15px;
	}

	span.wall {
		width: 8px;
		height: 8px;
		bottom: 14px;
		left: 11px;
		border-radius: 0;
	}

	/* THESE 3 ARE FOR ACTIVE HAMBURGER MENU WHEN YOU CLICK*/
	.hamburger.is-active span:nth-child(4) {
		transform: translate(0px, -2px) rotate(45deg);
		bottom: 8px;
	}

	.hamburger.is-active span:nth-child(3) {
		opacity: 0;
		transform: translate(15px);
	}

	.hamburger.is-active span:nth-child(5) {
		transform: translate(-3px, 2px) rotate(-45deg);
	}

	.hamburger.is-active p {
		display: none;
	}

	.menu {
		display: none;
	}

	.hamburger p {
		display:inline-block;
		position: relative;
   	    bottom: 21px;
        right: 7px;
	}

	a {
		color: #ebebeb;
		display: block;
		padding: 2rem;
	}

	a:hover {
		background-color: var(--green-hover);
	}

	.mobile-menu {
		position: absolute;
		top: 70px;
		width: 100%;
		z-index: 98;
		transition: 1.5s;
		background-color: #626e60;

		a {
			text-align: center;
		}
	}

	.mobile-menu.is-active {
		top: -1000px;
	}

	@media (min-width: 768px) {
		.hamburger,
		.hamburger span,
		.hamburger p {
			display: none;
		}

		.menu {
			display: flex;
		}
	}
}
