/* CSS GOES HERE. ALREADY LINKED */

:root,
html {
	font-size: 62.5%; /* 10/16 = 0.625 * 100 = 62.5%, so we're working in a base of 10 for font size.*/
}

$almost-black: #2f2f2f;
$green: #626e60;
$brown: #c09f80;
$grey: #f1f1f1;
$off-white: #ebebeb;

//hover
$green-hover: #4f5e4c;

$italiano: 'Italianno', cursive;
$allura: 'Allura', cursive;
$poppins: 'Poppins', sans-serif;
$light-weight: 300;

$poppins-italic: 'Poppins', sans-serif;
$poppins-italic-style: italic;

@font-face {
	font-family: HighSummit;
	src: url('../font/HighSummit.otf');
	src: url('../font/HighSummit.ttf');
}

$highsummit: HighSummit;

.heading1,
.quote,
h1,
.h1-style {
	font-family: $allura;
	font-size: 6.4rem;
}

.heading2,
h2 {
	font-family: $allura;
	font-size: 3.6rem;
	font-weight: normal;
}

@media screen and (min-width: 1000px) {
	.heading1,
	.quote,
	h1,
	.h1-style {
		font-family: HighSummit;
	}

	.heading2,
	h2 {
		font-family: HighSummit;
	}
}

a,
p,
.content,
label,
input,
textarea,
.reviewer {
	font-size: 1.6rem;
	font-family: $poppins;
}

a {
	text-decoration: none;
}

.larger-text {
	font-size: 2.8rem;
	font-weight: 300;
	font-family: $poppins;
}

main {
	padding-top: 4rem;
	background-color: $brown;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.tan, a.dark, .green,
button,
.btn,
input[type='submit'] {
	font-size: 2.4rem;
	border-radius: 4px;
	padding: 0.6rem 3rem;
	box-shadow: 1px 2px $almost-black;
}

.tan {
	background-color: $brown;
	color: $almost-black;
}
.tan:hover, a.tan:focus {
	background-color: #997f66;
}
.tan:visited {
	color: $almost-black;
}

a.dark {
	background-color: $almost-black;
	color: $off-white;
}
a.dark:hover, a.dark:focus {
	background-color: transparent;
	color: $almost-black;
}
a.dark:visited {
	color: $off-white;
}

.green {
	background-color: $green;
	color: $brown;
	border: 1px solid $brown;
}
.green:hover, .green:focus {
	background-color: $brown;
	color: $almost-black;
}
.green:visited {
	color: $brown;
}
