/* CSS GOES HERE. ALREADY LINKED */

:root,
html {
	font-size: 62.5%; /* 10/16 = 0.625 * 100 = 62.5%, so we're working in a base of 10 for font size.*/
}

:root {
	--almost-black: #2f2f2f;
	--green: #626e60;
	--brown: #c09f80;
	--grey: #ececec;
	--off-white: #ebebeb;
}
