li {
    margin: 4rem;
}

a {
    color: #fff;
}

@media screen and (min-width: 768px) {

    #menuItems {
    display: static;
    flex-direction: 'column';
    position: 'absolute';
    bottom: '100';
    top: '0px';
    left: '0';
    background: 'brown';
    width: '100vw';
    padding: '3rem 0';
    }
    
}