.history {
	div {
		background-color: rgb(170, 235, 197);
	}

	.history-desc {
		font-size: 1.6rem;
		font-family: 'Poppins', sans-serif;
	}

	.history-year {
		font-size: 4rem;
		font-family: 'Poppins', sans-serif;
	}
}
