//THIS IS GLOBAL. ALL SCSS WRITTEN HERE WILL AFFECT THE ENTIRE PROJECT.
//PLEASE USE THIS FILE SPARINGLY.
@use './colors' as c;
@use './fonts' as f;

:root,
html {
	font-size: 62.5%;
	/* 10/16 = 0.625 * 100 = 62.5%, so we're working in a base of 10 for font size.*/
}

//GLOBAL STYLING

body img {
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
} 

.heading1,
.quote,
h1,
.h1-style {
	font-family: f.$allura;
	font-size: 6.4rem;
}

.h1-style {
	color: c.$off-white;
}

.heading2,
h2 {
	font-family: f.$allura;
	font-size: 4rem;
	font-weight: normal;
}

a,
p,
.content,
label,
input,
textarea,
.reviewer {
	font-size: 1.6rem;
	line-height: 3.2rem;
	font-family: f.$poppins;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.container {
	padding: 0rem 1.6rem;
	max-width: 150rem;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {

	.heading1,
	.quote,
	h1,
	.h1-style {
		font-family: HighSummit;
	}

	.heading2,
	h2 {
		font-family: HighSummit;
	}
}

@media screen and (min-width: 2000px) {

	.heading1,
	.quote,
	h1,
	.h1-style {
		font-size: 9.8rem;
	}

	.heading2,
	h2 {
		font-size: 6.4rem;
	}

	a,
	p,
	.content,
	label,
	input,
	textarea,
	.reviewer {
		font-size: 2.1rem;
		line-height: 4rem;
	}
}

// @ 1400px:
//h1 Banff log cabin : 16rem; @ ~1000px 10rem ish
//h1 9.8rem
//h2 6.4rem
//p's in mobile are 1.6rem, desktop are 1.8 rem. It looked massive at 2.1rem

//at 768 (ipad mini) the font will change to the backup one

// navbar when it goes back up should transition