@use './colors' as c;
@use './fonts' as f;

.tan, a.dark, .green,
button,
.btn,
input[type='submit'] {
	font-size: 2.4rem;
	border-radius: 4px;
	padding: 0.6rem 3rem;
	box-shadow: 1px 2px c.$almost-black;
}

.tan {
	background-color: c.$brown;
	color: c.$almost-black;
}
.tan:hover, a.tan:focus {
	background-color: c.$brown-hover;
}
.tan:visited {
	color: c.$almost-black;
}

a.dark {
	background-color: c.$almost-black;
	color: c.$off-white;
}
a.dark:hover, a.dark:focus {
	background-color: transparent;
	color: c.$almost-black;
}
a.dark:visited {
	color: c.$off-white;
}

.green {
	background-color: c.$green;
	color: c.$brown;
	border: 1px solid c.$brown;
}
.green:hover, .green:focus {
	background-color: c.$brown;
	color: c.$almost-black;
}
.green:visited {
	color: c.$brown;
}