@use './colors' as c;
@use './fonts' as f;

.btn {
	font-family: Poppins;
	font-size: 1.8rem;
	padding: 2rem;
}

.primary-btn {
	background-color: c.$brown;
}

.secondary-btn {
	background-color: none;
}
