@font-face {
	font-family: HighSummit;
	src: url('../../font/HighSummit.otf');
	src: url('../../font/HighSummit.ttf');
	font-display: swap;
}

$highsummit: HighSummit;

$poppins: 'Poppins', sans-serif;
$light-weight: 300;

$poppins-italic: 'Poppins', sans-serif;
$poppins-italic-style: italic;

//BACKUP FONTS
$italiano: 'Italianno', cursive;
$allura: 'Allura', cursive;


