.Play {
  text-align: center;
  margin: 0 auto;
}

.video-responsive iframe {
  height: 21rem;
  width: 39rem;
}



@media only screen and (min-width: 820px) {
  .video-responsive iframe {
    height: 33rem;
    width: 60rem;
  }

}

@media only screen and (min-width: 1600px) {
  .video-responsive iframe {
    width: 100rem;
    height: 60rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 3000px) {
  .video-responsive iframe {
    width: 150rem;
    height: 80rem;
    margin-bottom: 8rem;
  }
}
