

.video-responsive iframe {
    height: 30rem;
    width: 39rem;
}

@media only screen and (min-width: 820px) {
    .video-responsive iframe {
            height: 50rem;
            width: 82rem;
    }


}